MINIO_ROOT_USER=replace-with-admin-user
MINIO_ROOT_PASSWORD=replace-with-a-long-random-password
MINIO_VOLUMES="/var/www/datafile"
MINIO_OPTS="--address :9000 --console-address :9001"
MINIO_SERVER_URL="http://192.168.0.11:9000"
MINIO_BROWSER_REDIRECT_URL="http://192.168.0.11:9001"
