AWS_ACCESS_KEY_ID=replace-with-app-access-key
AWS_SECRET_ACCESS_KEY=replace-with-app-secret-key
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=simanis-documents
AWS_ENDPOINT=http://192.168.0.11:9000
AWS_USE_PATH_STYLE_ENDPOINT=true
